image: ruby:2.3

cache:
  paths:
  - vendor/

before_script:
  - export LC_ALL="C.UTF-8"
  - export LANG="en_US.UTF-8"
  - export LANGUAGE="en_US.UTF-8"

build:
  stage: build
  script:
  - bundle install --path vendor/bundle
  only:
  - master
  - tags